body {
    /* background-image: url("../img/RBaphex.png"); */
    /* background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 1000px 1000px; */
    background-image: url("../extra/images/IMG_5477.JPG");
    /* background-position: 50% 50%;
    background-size: 50px 50px; */
  }
  
  #mainContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media only screen and (max-width: 450px) {
    #shirtImg {
      height: 200px !important;
      width: 150px !important;
    }
    
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 156px;
    }
  }

  #row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  #column {
    flex: 50%;
    padding: 0 4px;
  }
  
  #gifBk{
    margin-top: 8px;
    vertical-align: middle;
  }